@charset "UTF-8";

*margin {
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    height: 200px;
    margin-top: auto;
}

header > h1 {
    color: white;
    text-align: center;
    font-size: 64px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10vw;
}

nav {
    text-align: center;
    color: white;
    font-size: small;
}

a {
    color: white;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a:hover {
    text-decoration: underline;

}

body {
    background-color: white;
}

section {
    background-image: url();
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
    border: 1px solid black;
}

p {
    font-style: normal;
    font-weight: normal;
    font-size: 5vw;
}

p > a.p1 { 
    font-size: small;
    text-align: center;
    text-decoration: none; 
    color: white; 
}